<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods">
    <test name="SYNRGY - Rajawali Air">
        <classes>
            <class name="rajawaliair.runners.testRunner"/>
        </classes>
    </test>
</suite>